{% extends 'main/base.html' %}

{% block title %}Войти{% endblock %}

{% block content%}

<div class="form-window">
    <form method="post">
        <label for="username">ФИО:</label>
        <input type="text" name="username"> <br>
        <label for="userage">Возраст:</label>
        <input type="number" name="userage"> <br>
        <label for="userabout">О себе:</label>
        <textarea name="userabout" id="" cols="30" rows="10"></textarea>
    </form>
</div>

{% endblock %}