{% extends 'base.html' %}
{% load static %}

{% block title %}Корзина {{ user.username }} {% endblock %}

{% block content%}
<h1>Корзина {{ user.username }}</h1>
<section class="basket">    
    {% for item in cart_items %}
    <div class="tovar-item">
        <p>{{ item.tovar.tovarname }} ({{ item.quantity }})</p>
        <p>Price: ${{ item.tovar.tovarprice }}</p>
        <a href="{% url 'cart:remove_from_cart' item.id %}">Remove</a>
    </div>
    {% empty %}
    <p>Your cart is empty.</p>
    {% endfor %}
 
    </div>

    <p>Total Price: ${{ total_price }}</p>
 
</section>
{% endblock %}