{% extends 'base.html' %}

{% block title %}О площадке{% endblock %}

{% block content%}
<p>MemoryMerch - это платформа по продаже видеоигровой и гик продукции, объединяющая гиков всех поколений. Здесь вы можете отыскать  редкую игровую продукцию, либо ту что уже вышла из продажи. Или если вы счастливчик обладать какой то старой частичкой мерча - выставить ее на продажу. Наша сайт обеспечит удобную систему и платформу для продажи вашей коллекции, а главное безопасную. Продавцы и товары ежедневно модерируются и проверяются.</p>
{% endblock %}