{% extends 'base.html' %}
{% load static %}

{% block title %}Корзина {{ user.username }} {% endblock %}

{% block content%}
{% if baskets %}
<h1>Корзина {{ user.username }}</h1>
<section class="basket">
    {% for basket in baskets %}
    <div class="tovar-inbasket">
        <div class="tovar-inbasket__image"></div>
        <h3><a href="{% url 'tovar' basket.tovar.id %}">{{ basket.tovar.tovarname }}</a></h3>
        <p>{{ basket.tovar.tovarprice }} р.</p>
        <p>{{ baske.quantity }}</p>
        <input type="button" value="+">
        <input type="button" value="-">
    </div>
    {% endfor %}
</section>
{% else %}
<p>Корзина пуста</p>
{% endif %}
{% endblock %}