{% extends 'base.html' %}

{% block title %}Правила{% endblock %}

{% block content%}
ПРАВИЛА
1) установленные нормативными правовыми актами или отраженные в иных социальных нормах (обычаях, традициях и др.) возможности, рамки, условия поведения участников тех или иных общественных отношений.
Иногда категория "правила" вводится в стране как нормативно-правовая, но без четкого юридического наполнения ее содержания. Это нежелательно, поскольку трактовка категории остается на усмотрении правящих кругов или конкретных органов, и это может использоваться для применения меры ответственности за неясный состав правонарушения. Типичным примером на этот счет является существовавшая в прежние годы категория правила социалистического общежития";
2) возможное наименование (форма) нормативного правового акта - например, распространены П. пользования отдельными видами транспорта или П. проезда на транспорте, П. поведения в общественных местах, П. санитарного содержания территорий, П. противопожарной безопасности и др. Довольно часто администрация предприятий и учреждений по согласованию с профсоюзом утверждает П. внутреннего трудового распорядка.(С. А.)
{% endblock %}