{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content%}
<form method="get" class="form-filter">
    <div class="form-filter__inputs">
        По названию: {{ tovars.form.tovarname }}
        По цене: {{ tovars.form.tovarprice }}
        По категории: {{ tovars.form.category }}
        <button type="submit" class="btn btn-primary">Фильтровать</button>
    </div>
</form>
<hr>
<section class="tovars">
    <h2 class="smallhead">Все объявления:</h2>
    <div class="tovars__line">
        {% for tovar in tovars.qs %}
        <div class="tovar-block">
            <div class="tovar-block__image"></div>
            <h3><a href="{% url 'tovar-detail' %}">{{ tovar.tovarname }}</a></h3>
            <p>{{ tovar.tovarprice }} р.</p>
            <p>{{ tovar.date_posted|date:"F d, Y" }}</p>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}