{% extends 'base.html' %}
{% load static %}

{% block title %}Товар{% endblock %}

{% block content%}
<div class="tovar-page">
    <div class="tovar__head-block">
        <h1 class="tovar-name">{{ tovar.tovarname }}</h1>
        <h3 class="tovar-date"> {{ tovar.category }} | {{ tovar.date_posted }}</h3>
    </div>
    <div class="tovar__photo-block"></div>
    <div class="tovar__info-block">
        <!-- <p><span class="tovar-important-text">АДРЕС:</span> здесь будет адрес</p> -->
        <p><span class="tovar-important-text">ДОСТАВКА:</span> {{ tovar.shipping }}</p>
        <!-- <div class="info-block__author">
            <img src="{% static 'img/default.png' %}" alt="author">
            <p>Сергей Васильевич 849345</p>
        </div> -->
        <div class="info-block__buttons">
            <p class="tovar__button buy"><a href="{% url 'cart:add_to_cart' tovar.id %}">Добавить в корзину</a></p>
            <p class="tovar__button fav"><a href="">Добавить в избранное</a></p>
        </div>
    </div>
    <div class="tovar__body-block">
        <p><span class="tovar-important-text">ОПИСАНИЕ:</span> {{ tovar.tovardescrpt }}</p>

    </div>
</div>
{% endblock %}